<?xml version="1.0"?>
<configuration>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False"/>
    </defaultProxy>



  </system.net>
  <appSettings>

    <add key="DB_SERVIDOR_C"				  value="192.9.200.60"/>
    <add key="DB_USUARIO_C"				    value="sa"/>
    <add key="DB_PASSWORD_C"				  value="ibrchil3.,"/>
    <add key="DB_BASEDATOS_C"				  value="IBR_ALO_CARGA_1" />





    <add key="URL_RESTful_Rest" value="http://192.9.200.69:9101/Alo/Rest"/>
    <add key="URL_RESTful_GET" value="http://192.9.200.69:9101/DB/RF_DB_GET"/>
    <add key="URL_RESTful_POST" value="http://192.9.200.69:9101/DB/RF_DB_POST"/>
    <add key="RF_DB_POST_INTERFAZ" value="http://192.9.200.69:9105/DB/RF_DB_POST_INTERFAZ"/>
    <add key="RF_DB_POST_PARAMETROS" value="http://192.9.200.69:9105/DB/RF_DB_POST_PARAMETROS"/>
    <add key="URL_WCF" value="http://192.9.200.69:9102/ServicioRestAlo.svc"/>
    <add key="URL_RESTful_OPCION" value="P"/>
    <add key="F_POST_UPLOAD_FILE" value="http://192.9.200.69:9108/FILE/F_POST_UPLOAD_FILE"/>
    <add key="F_POST_UPLOAD_FTP" value="http://192.9.200.69:9108/FILE/F_POST_UPLOAD_FTP"/>
    <add key="RUTA_LEARNING" value="http://192.9.200.69:9119/VIDEOS/VIDEOS"/>
    <add key="RUTA_CONECTOR" value="http://192.9.200.69:9118/MANTENEDORES/LISTA_DISTRIBUCION"/>


    <!--<add key="RUTA_XSLT" value="D:\Andrea\RESPALDO MÓDULOS ALÓ 20-08-2019\ALO_CARGA_UNO\ALO_CARGA_UNO_WEB_14112019_V3\ALO.WebSite\xslt\ThrowError.xslt"/>
    <add key="PATH_ROOT" value="D:\CRM_ALO_PR\WINSERVICES_PR\ALO_CARGA_UNO_V2\RESPALDO_ARCHIVO_CARGA\"/>-->
    
    <add key="RUTA_XSLT" value="S:\Publicaciones Web\ALO_CARGA_UNO_V2\xslt\ThrowError.xslt"/>
    <add key="PATH_ROOT" value="S:\CRM_ALO_PR\WINSERVICES_PR\ALO_CARGA_UNO_V2\RESPALDO_ARCHIVO_CARGA\"/>




  </appSettings>

  <connectionStrings/>

  <system.web>

    <pages enableEventValidation="false"/>
    <globalization responseHeaderEncoding="Windows-1252"/>
    <compilation debug="true" targetFramework="4.5"/>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <sessionState timeout="60" mode="InProc"/>
    <httpRuntime maxRequestLength="2097152" executionTimeout="3600"/>

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="4"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/xaml+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".html"/>
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".rss"/>
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
      <remove fileExtension=".xml"/>
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
      <!-- HTML5 Audio/Video mime types-->
      <remove fileExtension=".mp3"/>
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".ogg"/>
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg"/>
      <remove fileExtension=".ogv"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
      <remove fileExtension=".ttc"/>
      <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
      <remove fileExtension=".crx"/>
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension"/>
      <remove fileExtension=".xpi"/>
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall"/>
      <remove fileExtension=".safariextz"/>
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream"/>
      <!-- Flash Video mime types-->
      <remove fileExtension=".flv"/>
      <mimeMap fileExtension=".flv" mimeType="video/x-flv"/>
      <remove fileExtension=".f4v"/>
      <mimeMap fileExtension=".f4v" mimeType="video/mp4"/>
      <!-- Assorted types -->
      <remove fileExtension=".ico"/>
      <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <remove fileExtension=".htc"/>
      <mimeMap fileExtension=".htc" mimeType="text/x-component"/>
      <remove fileExtension=".vcf"/>
      <mimeMap fileExtension=".vcf" mimeType="text/x-vcard"/>
      <remove fileExtension=".torrent"/>
      <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent"/>
      <remove fileExtension=".cur"/>
      <mimeMap fileExtension=".cur" mimeType="image/x-icon"/>
      <remove fileExtension=".webapp"/>
      <mimeMap fileExtension=".webapp" mimeType="application/x-web-app-manifest+json; charset=UTF-8"/>
    </staticContent>
  </system.webServer>

  <location path="Account">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="lib">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="xlst">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>


